# Nosana x ElizaOS Configuration
# Get your API key from the Nosana Dashboard
NOSANA_API_KEY=nos_89ZPmeurl4B7oXVhuY9bivjdREKz3oOiaG3NzWUOszg

# The Nosana GPU Market you want to use
NOSANA_MARKET_ADDRESS=7AtiXMSH6R1jjBxrcYjehCkkSF7zvYWte63gwEDBcGHq

# The public key for your confidential/encrypted compute jobs
NOSANA_RECIPIENT_PUBKEY=BpkHL9AA9sSj5a24P4a5yLJCDK2gwT2XQBGGDUzt4i8T

# Choose between 'mainnet' and 'devnet'
NOSANA_NETWORK=mainnet

# ElizaOS Agent Token (e.g. Discord, Twitter, or mock)
AGENT_TOKEN=mock-token
